java-calculator/
ood1/
task1_package/.idea/
task2_package/.idea/
task3_package/.idea/
tasks_packages_03_04/.idea/
tasks_packages_03_04/out/
test/.idea
collections/.idea/
collections/out/
academy-customer-app/.gradle/
academy-customer-app/.idea/
academy-customer-app/build/
academy-customer-app/gradle/
springboot-demo/
gradleTestProject/.idea/
gradleTestProject/out/
gradleTestProject/.gradle/
gradleTestProject/gradle/
gradleTestProject/build/